.testimonialName {
    text-decoration: none;
    margin: 0.5rem 0 0.25rem;
}

.testimonialImg {
    height: 125px !important;
    width: 125px !important;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 999em;
    pointer-events: none;
    margin: 0 1.25rem 2rem 0;
    opacity: 0.8;
}

.testimonialJobTitle {
    margin: 0;
    text-transform: uppercase;
    font-size: 1em !important;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);
}

.testimonialText {
    line-height: 1.5rem;
    text-align: justify;
    font-size: 1.1em;
    letter-spacing: 0.25px;
    color: rgba(255, 255, 255, 0.85);
}

.testimonialText b {
    color: rgba(255, 255, 255, 1);
}

.card {
    display: flex;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    background-color: hsla(200, 16%, 25%, 0.6);
    color: white;
    border-radius: 0.5em;
    max-width: 750px;
    min-width: 400px;
    cursor: default;
    text-align: left;
    opacity: 0.9;
    transition: 0.2s all ease;
}

.card:hover {
    transition: 0.2s all ease;
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.03);
}
