@use '../../styles/utilities' as *;

.testimonialCard {
  &__img {
    height: 7.75rem !important;
    width: 7.75rem !important;
    border: 0.5px solid var(--color-border-strong);
    border-radius: 999em;
    pointer-events: none;
    margin: 0 1.25rem 2rem 0;
    opacity: 0.8;
  }

  &__name {
    text-decoration: none;
    margin: 0.5rem 0 0.25rem;
  }

  &__jobTitle {
    margin: 0;
    text-transform: uppercase;
    font-size: 1em !important;
    letter-spacing: 0.5px;
    color: var(--color-text-muted);
  }

  &__text {
    line-height: 1.5rem;
    text-align: justify;
    font-size: 1.1em;
    letter-spacing: 0.25px;
    color: var(--color-text-secondary);

    b {
      color: var(--color-text-primary);
    }
  }
}
