.button {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: rgba(40, 49, 53, 1);
  background: white !important;
  text-decoration-color: rgba(255, 255, 255, 0);
  padding: 0.85rem 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  margin: 0 0.5em;
  transition: 0.2s all ease;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none !important;
  z-index: 10;
}

.small {
  font-size: 0.8em;
}

.small:hover {
  transform: scale(1.05);
}

.logo {
  width: 1.2em;
  height: 1.2em;
  aspect-ratio: 1/1;
  display: inline-block;
  padding: 0 0.2em;
  margin: -0.175em auto;
  fill: #ffffff;
}
