.hobby {
  &__title {
    margin: 0.5rem 0.5rem 0 0.5rem;
  }

  &__list {
    li {
      opacity: 0.8;
      margin: 0.25rem -1rem;
      list-style-type: none;

      &::before {
        content: '⇾';
        margin-right: 1rem;
        opacity: 0.45;
      }
    }
  }

  &__link {
    color: var(--color-accent-primary);
    text-decoration-color: rgba(47, 88, 104, 0.8);

    &:hover {
      color: var(--color-accent-hover) !important;
      text-decoration-color: rgba(47, 88, 104, 1);
    }

    &:visited {
      color: var(--color-accent-primary);
    }
  }
}
