.hobbyTitle {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

/*ul*/
.hobbyList li::before {
  content: '⇾';
  margin-right: 1rem;
  opacity: 0.45;
}

.hobbyList li {
  opacity: 0.8;
  margin: 0.25rem -1rem;
  list-style-type: none;
}
.hobbyList li a {
  color: #39a4cf;
  text-decoration-color: rgba(47, 88, 104, 0.8);
}

.hobbyList li a:hover {
  color: #23c1ff !important;
  text-decoration-color: rgba(47, 88, 104, 1);
}

.hobbyList li a:visited {
  color: #39a4cf;
}
