@use '../../styles/utilities' as *;

.projectCard {
  &__thumbnailLink {
    opacity: 0.8;
    display: inline-block;
    margin: 15px !important;
    padding: 0 !important;
    border: none !important;
    transform: scale(0.98);
    transition: all 0.5s ease !important;

    &:hover {
      opacity: 1;
      transform: scale(1.02);
      box-shadow: var(--shadow-card-project-hover);
    }
  }

  &__thumbnail {
    height: 210px;
    float: left;
    border-radius: 0.5em;
  }

  &__description {
    padding: 0.5em 1em;
    display: inline-block;

    p {
      width: 90%;
      font-size: 1.15em;
      letter-spacing: 0.5px;
      line-height: 1.25em;
    }
  }

  &__techLogo {
    @extend %techLogo;
  }

  &__links {
    margin: 25px 0;
    line-height: 3.5em;
    white-space: nowrap;
  }

  &__link {
    font-family: var(--font-family-heading);
    color: var(--color-text-primary);
    background: none;
    font-size: 1em;
    margin: 0 5px;
    text-decoration-color: rgba(255, 255, 255, 0);
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-text-primary);

    &:hover {
      transition: var(--transition-default);
      background: rgba(255, 255, 255, 0.3);
      text-decoration-color: var(--color-text-primary);
    }
  }
}
