::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(210, 12%, 15%);
}

::-webkit-scrollbar-thumb {
  background: hsl(210, 12%, 30%);
  border-radius: 5em;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(210, 12%, 40%);
}
