%card-base {
  margin: 15px auto;
  padding: 20px;
  background-color: var(--color-bg-card);
  color: var(--color-text-primary);
  border-radius: var(--radius-default);
  cursor: default;
  transition: var(--transition-default);
}

%fancyHr {
  border: none;
  height: 2px;
  border-radius: 99em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  margin: 20px 0;
}

%contactButtonContainer {
  display: block;
  text-align: center;
  padding: 10px;
  color: var(--color-text-primary);
  border-radius: var(--radius-default);
  z-index: 999;
  opacity: 1;
  line-height: 2.5em;
}

%techLogo {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  margin: 3px;
  width: 2em;
  height: 2em;
  border-radius: 0.5em;
}
