@use '../../styles/utilities' as *;

.card {
  @extend %card-base;
  max-width: var(--card-max-width);
  padding: 30px;

  &__title {
    letter-spacing: 0.9px;
    margin: 3px 0px;
  }

  &__divider {
    @extend %fancyHr;
  }

  &--title {
    @extend %card-base;
    padding: 3em 2em;
    max-width: 850px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: hsla(197, 61%, 50%, 0.15);

    &:hover {
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    }
  }

  &--project {
    @extend %card-base;
    padding: 15px;
    min-width: var(--card-min-width);
    text-align: left;
    opacity: 0.9;

    &:hover {
      opacity: 1;
      box-shadow: var(--shadow-card-project-hover);
    }
  }

  &--testimonial {
    @extend %card-base;
    display: flex;
    padding: 1rem 1.5rem;
    min-width: var(--card-min-width);
    text-align: left;
    opacity: 0.9;

    &:hover {
      opacity: 1;
      box-shadow: var(--shadow-card-hover);
    }
  }
}
