---
import ThemeToggle from '../components/ThemeToggle.astro';
import Layout from '../layouts/Layout.astro';
import CommunityWork from '../sections/CommunityWork.astro';
import ContactDetails from '../sections/ContactDetails.astro';
import Hobbies from '../sections/Hobbies.astro';
import Testimonials from '../sections/Testimonials.astro';
import TitleCard from '../sections/TitleCard.astro';
---

<Layout>
  <ThemeToggle />
  <main id="main-content">
    <TitleCard showAvailability={false} />
    <Testimonials />
    <CommunityWork />
    <Hobbies />
    <!-- <Projects /> -->
    <ContactDetails />
  </main>
</Layout>
