---
interface Props {
  href: string;
  label: string;
  logoSrc: string;
  external?: boolean;
  small?: boolean;
  loading?: 'eager' | 'lazy';
}

const { href, label, logoSrc, external = false, small = false, loading = 'eager' } = Astro.props;
---

<a
  class:list={["button", small && "button--small"]}
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noreferrer" : undefined}
>
  <img class="button__logo" src={logoSrc} alt="" loading={loading} />
  &nbsp;{label}
</a>

<style lang="scss">
  .button {
    display: inline-block;
    text-decoration: none !important;
    text-wrap: nowrap;
    font-weight: 400;
    padding: 0 1rem;
    margin: 0.5rem;
    border: 0.1rem solid var(--color-border-button);
    font-family: var(--font-family-heading);
    color: var(--color-text-button);
    background: var(--color-bg-button);
    border-radius: var(--radius-default);
    transition: var(--transition-default);
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));

    &:hover {
      text-decoration: none !important;
      font-weight: 600;
      color: var(--color-text-button-hover);
      background: var(--color-bg-button-hover);
      filter: drop-shadow(var(--shadow-button-hover));
      transform: scale(1.075, 1.075);
    }

    &--small {
      font-size: 0.8em;
    }

    &__logo {
      width: 1.2em;
      height: 1.2em;
      aspect-ratio: 1/1;
      display: inline-block;
      padding: 0 0.2em;
      margin: -0.175em auto;
    }
  }
</style>
