.content {
  padding: 1rem;
}

.talkTitle {
  margin: 0 0 0.25rem 0 !important;
}

.talkLocation {
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
}

.talkDate {
  margin: 0 0 0.5rem;
}

