---
import Button from "../components/Button.astro";
import {
  EMAIL_URL,
  LINKEDIN_URL,
  MESSENGER_URL,
  TELEGRAM_URL,
} from "../constants/links";
---

<footer class="contactDetails__footer">
  <section class="contactDetails__text">Contact me via:</section>
  <section class="contactDetails__buttons">
    <Button
      href={EMAIL_URL}
      label="Email"
      logoSrc="/logos/gmail.svg"
      loading="lazy"
    />
    <Button
      href={LINKEDIN_URL}
      label="LinkedIn"
      logoSrc="/logos/linkedin.svg"
      loading="lazy"
      external
    />
    <Button
      href={TELEGRAM_URL}
      label="Telegram"
      logoSrc="/logos/telegram.svg"
      loading="lazy"
      external
    />
    <Button
      href={MESSENGER_URL}
      label="Messenger"
      logoSrc="/logos/messenger.svg"
      loading="lazy"
      external
    />
  </section>
  <div class="contactDetails__rainbow"></div>
</footer>

<style lang="scss">
  .contactDetails {
    &__footer {
      padding: 3rem;
      text-align: center;
    }

    &__text {
      text-align: center;
      line-height: 1.75rem;
      color: var(--color-text-secondary);
      font-family: var(--font-family-heading);
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 3.15rem auto 0;
    }

    &__buttons {
      display: block;
      text-align: center;
      padding: 2.25rem;
      margin-bottom: 2.5rem;
      line-height: 4rem;
      color: var(--color-text-primary);
      border-radius: var(--radius-default);
      z-index: 999;
      opacity: 1;
    }

    &__rainbow {
      position: fixed;
      width: 31.25rem;
      height: 31.25rem;
      bottom: -35%;
      left: calc(50% - 10rem);
      color: black;
      margin-top: -12.5%;
      margin-left: -12.5%;
      border-radius: 999rem;
      background: linear-gradient(
        45deg,
        #eb5f1b,
        #c940c5,
        #2180e3,
        #25c7d0,
        #29cbaa,
        #57c643,
        #efc022,
        #ff9227,
        #eb5f1b
      );
      filter: blur(5rem);
      opacity: 0.35;
      animation: rotatingRainbow 7s linear infinite;
      z-index: -1;
    }
  }
</style>
