---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Stefan Kudev - Developer",
  description = "Stefan Kudev's personal portfolio website",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content={description} />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="preload"
      href="/fonts/Raleway-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Raleway-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Roboto-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Roboto-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import "../styles/index.scss";

  html {
    min-height: 100%;
  }

  body {
    background: linear-gradient(90deg, #2a3035, #171a1d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: calc(100% - 0.63rem);
    overflow-x: hidden;
    margin: 0;
  }

  main {
    padding: 1.25rem;
    font-family: var(--font-family-body);
    min-width: 20rem !important;
    transition:
      opacity var(--transition-slow),
      transform var(--transition-slow);
  }

  .blur {
    filter: blur(2.5em) !important;
    user-select: none;
    pointer-events: none;
  }

  .footer {
    color: var(--color-text-primary);
  }
</style>
